# requirements.txt
streamlit==1.36.0
langchain==0.3.21
langchain-core==0.3.49
langchain-chroma==0.1.4
langchain-community==0.3.20
langchain-openai==0.3.11
chromadb==0.5.0
pandas==2.2.2
python-dotenv==1.0.1
PyPDF2==3.0.1
requests==2.32.3
sqlalchemy==2.0.36
